@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'components/Header/Header';
@import 'components/Panel/Panel';
@import 'containers/AppContainer';
@import 'containers/Search/Search';

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(24, 9, 9);
  margin: 0;
  background: #ededed;
}
